@model Hospital_Management_System.Models.AccountModels

@{
    ViewBag.Title = "UpdateEdit";
    Layout = "~/Views/Admin/_Admin.cshtml";
    var infolist = ViewBag.info;
}
fdfdfdfd
foreach (var obj in infolist)
{
<h2>@obj.fname</h2>
}