@model Hospital_Management_System.Models.AccountModels

@{
    ViewBag.Title = "BillHistory2";
    Layout = "~/Views/Patient/_Patient.cshtml";
}

<div class="form-group">
    <label class="col-md-12 control-label notification" for="fname">@TempData["message28"]</label>
    <label class="col-md-12 control-label notification2" for="fname">@TempData["message29"]</label>   
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br />
