@model Hospital_Management_System.Models.AccountModels

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Patient/_Patient.cshtml";
}

<form class="form-horizontal" method="post" action="Applychange">
    <fieldset>

        <!-- Form Name -->
        <legend id="legend">Change Password</legend>

        <div class="form-group">
            <label class="col-md-12 control-label notification" for="fname">@TempData["message9"]</label>
            <label class="col-md-12 control-label notification2" for="fname">@TempData["message10"]</label>   
        </div>

        <!-- Password input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="password">Old Password :</label>
            <div class="col-md-4">
            <input id="opassword" name="opassword" type="password" placeholder="" class="form-control input-md" required="">
    
            </div>
        </div>
        <br />
        <!-- Password input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="password">Old Password :</label>
            <div class="col-md-4">
            <input id="npassword" name="password" type="password" placeholder="" class="form-control input-md" required="">
    
            </div>
            
        </div>
        <div id="npassword_info">
	        <ul>
		        <li id="poor" class="invalid"><strong>Poor Password</strong></li>
		        <li id="middle" class="invalid"><strong>Middle Password</strong></li>
		        <li id="strong" class="invalid"><strong>Strong Password</strong></li>
	        </ul>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="password">Confirm Password :</label>
            <div class="col-md-4">
            <input id="ncpassword" name="cpassword" type="password" placeholder="" class="form-control input-md" required="">
    
            </div>
            
        </div>

        <div id="npassword_info2">
	        <ul>
		        <li id="nconfirm" class="invalid"><span id='nmessage'><strong>Check Password</strong></span></li>
	        </ul>
        </div>

        <!-- Button (Double) -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="save"></label>
            <div class="col-md-8 reg_button">
            <button id="save1" name="save" class="btn btn-success">Update</button>
            <button id="clear1" name="clear" class="btn btn-danger" onclick="location.href='@Url.Action("ChangePassword", "Admin")';return false;">Reset</button>
            </div>
        </div>

    </fieldset>
</form>
