@model Hospital_Management_System.Models.AccountModels

@{
    ViewBag.Title = "UploadImage";
    Layout = "~/Views/Accountant/_Accountant.cshtml";
}

<div class="data">
    <div>
    <img id="profileimg" src="~/Content/image/pimage.png" />
    </div>
    
    <div id="homedata">
        <input id="imageup" type="file" name="fileToUpload" id="fileToUpload">
        <button id="Upload" name="save" class="btn btn-success">Upload</button>
    </div>
    
    <br />
    <br />
</div>
